@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-input {
  @apply bg-componentGray text-textGray w-full max-w-[22rem] px-3 py-4;
}

.auth-button {
  @apply bg-bgPurple py-5 w-full max-w-[350px] text-white hover:bg-darkPurple;
}

.auth-form {
    @apply flex flex-col gap-6 bg-white w-[31rem] rounded-lg shadow-2xl items-center py-10;
}

.dashboard-container {
    @apply flex mx-10 bg-white px-10 py-6 rounded-3xl shadow-2xl;
}

.purple-button {
    @apply text-white bg-bgPurple px-4 py-3 rounded-full hover:bg-darkPurple;
}

.job-container {
  @apply flex flex-col gap-5 md:flex-row border-black border-opacity-20 border-4 px-5 py-6 mt-10 rounded-3xl items-center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
